#Contact_Form {
  position: absolute;
  width: 100%;
}
.Contact_Form_Overlay {
  background-color: rgba(132, 106, 221, 0.8);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.Contact_Form_Box {
  padding-left: 10%;
  padding-right: 10%;
}
.Contact_Form_Content {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 70px 70px;
}