@media only screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 430px) {
  .Contact_Form_Content {
    padding: 10% 10%;
  }
  .model {
    width: 70%;
  }
}